# Django project files
*.pyc
*.pyo
__pycache__/
*.sqlite3

# Static files
staticfiles/
media/

# Virtual environment
venv/
.env

# Development server
.env.dev

# IDE files
.vscode/
.idea/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Dependency directories
node_modules/
bower_components/

# macOS
.DS_Store

# Windows
Thumbs.db
